*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 2.4rem;
}
:root{
    font-size: 62.5%;
}
h1{
    color: blue; 
    font-size: 96px; 
    font-size: 9.6rem; /*Divide por 10 o de cima emultiplica com o 62.5%*/
    font-weight: 900;
    font-style: oblique;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    font-size: 2.4rem;
    border-collapse: collapse;
    margin: auto;
}
table th{
    background-color: steelblue;
    color: white;
}
table tr:nth-child(2n + 1){ /*muda a cor da linha da tabela (uma sim uma não*/
    background-color: #AAA;
}
table, td, th{
    padding: 5px;
    border: 1px solid black;
}
[data-company="CCL"]{
    background-color: aquamarine;
}
.botao{
    display: block;
    background-color: steelblue;
    color: white;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    margin: 10px auto;
    transition: 0.2s;
}
.botao[data-button="um"]:hover{
    transform: scale(1.02);
}
.botao[data-button="dois"]{
    animation: pulse 1s infinite;
    animation-direction: alternate;
    transform: scale(1);
}
@keyframes pulse{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: .6;
    }
}
.bg{
    width: 100vw;
    height: 20vh;
    background-color: #333;
    background-image: url("https://images.unsplash.com/photo-1699862160391-1aa177a3baff?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top bottom;

}
@media screen and (min-width: 1000px){
    .bg{
        height: 70vh;
    }
}