<div class="container">
    <div class="row">
        <!--ngFor substitui o ngFor-->
        @for (product of products; track $index) {
        <div class="col-3">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="text-center">
                        {{ product.name}}
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{ product.image }}" alt="Photo do produto {{ product.name}}">
                <mat-card-content>
                    <p>
                        {{ product.description}}
                    </p>
                    <p>{{ product.price}}</p>
                    <p>Quantidade: {{ product.qty}}</p>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-end gap-2">

                    <button mat-flat-button color="primary" (click)="editProduct(product.id!)">Editar</button>

                    <!--O botão deletar chama a função openDialog que abre um modal para confirmação do delete do produto, enviando o id do mesmo-->
                    <button mat-stroked-button color="warn" (click)="openDialog(product.id!)">Excluir</button>
                </mat-card-actions>
            </mat-card>
        </div>
        }@empty {
            <div class="col-12 text-center">Nenhum produto</div>
        }
    </div>
</div>
